:root {
  /* Primary color */
  --theme-color-primary-h: 44;
  --theme-color-primary-s: 85%;
  --theme-color-primary-l: 45%;

  --theme-color-h: 44;
  --theme-color-s: 85%;
  --theme-color-l: 45%;

  /* Secondary color */
  --theme-color-secondary-h: 170;
  --theme-color-secondary-s: 91%;
  --theme-color-secondary-l: 17%;

  --theme-color-primary-hsl: var(--theme-color-primary-h), var(--theme-color-primary-s), var(--theme-color-primary-l);
  --theme-color-hsl: var(--theme-color-h), var(--theme-color-s), var(--theme-color-l);

  --theme-color-primary: hsl(var(--theme-color-primary-hsl));
  --theme-color-primary-1: hsla(var(--theme-color-primary-hsl), 0.01);
  --theme-color-primary-5: hsla(var(--theme-color-primary-hsl), 0.05);
  --theme-color-primary-10: hsla(var(--theme-color-primary-hsl), 0.1);
  --theme-color-primary-20: hsla(var(--theme-color-primary-hsl), 0.2);
  --theme-color-primary-30: hsla(var(--theme-color-primary-hsl), 0.3);
  --theme-color-primary-40: hsla(var(--theme-color-primary-hsl), 0.4);
  --theme-color-primary-50: hsla(var(--theme-color-primary-hsl), 0.5);
  --theme-color-primary-60: hsla(var(--theme-color-primary-hsl), 0.6);
  --theme-color-primary-70: hsla(var(--theme-color-primary-hsl), 0.7);
  --theme-color-primary-80: hsla(var(--theme-color-primary-hsl), 0.8);
  --theme-color-primary-90: hsla(var(--theme-color-primary-hsl), 0.9);

  --theme-color-primary-warm: hsl(
    calc(var(--theme-color-primary-h) + 80),
    var(--theme-color-primary-s),
    var(--theme-color-primary-l)
  );
  --theme-color-primary-cold: hsl(
    calc(var(--theme-color-primary-h) - 80),
    var(--theme-color-primary-s),
    var(--theme-color-primary-l)
  );

  --theme-color-primary-low: hsl(
    var(--theme-color-primary-h),
    calc(var(--theme-color-primary-s) / 2),
    var(--theme-color-primary-l)
  );
  --theme-color-primary-lowest: hsl(
    var(--theme-color-primary-h),
    calc(var(--theme-color-primary-s) / 4),
    var(--theme-color-primary-l)
  );

  --theme-color-primary-light: hsl(
    var(--theme-color-primary-h),
    var(--theme-color-primary-s),
    calc(var(--theme-color-primary-l) / 0.75)
  );
  --theme-color-primary-ultra-light: hsl(
    var(--theme-color-primary-h),
    var(--theme-color-primary-s),
    calc(var(--theme-color-primary-l) / 0.5)
  );
  --theme-color-primary-dark: hsl(
    var(--theme-color-primary-h),
    var(--theme-color-primary-s),
    calc(var(--theme-color-primary-l) * 0.75)
  );
  --theme-color-primary-darkheavy: hsl(
    var(--theme-color-primary-h),
    var(--theme-color-primary-s),
    calc(var(--theme-color-primary-l) * 0.25)
  );
  --theme-color-primary-darkultraheavy: hsl(
    var(--theme-color-primary-h),
    var(--theme-color-primary-s),
    calc(var(--theme-color-primary-l) * 0.1)
  );

  --theme-color-secondary-hsl: var(--theme-color-secondary-h),
    var(--theme-color-secondary-s), var(--theme-color-secondary-l);

  --theme-color-secondary: hsl(var(--theme-color-secondary-hsl));
  --theme-color-secondary-10: hsla(var(--theme-color-secondary-hsl), 0.1);
  --theme-color-secondary-20: hsla(var(--theme-color-secondary-hsl), 0.2);
  --theme-color-secondary-30: hsla(var(--theme-color-secondary-hsl), 0.3);
  --theme-color-secondary-40: hsla(var(--theme-color-secondary-hsl), 0.4);
  --theme-color-secondary-50: hsla(var(--theme-color-secondary-hsl), 0.5);
  --theme-color-secondary-60: hsla(var(--theme-color-secondary-hsl), 0.6);
  --theme-color-secondary-70: hsla(var(--theme-color-secondary-hsl), 0.7);
  --theme-color-secondary-80: hsla(var(--theme-color-secondary-hsl), 0.8);
  --theme-color-secondary-90: hsla(var(--theme-color-secondary-hsl), 0.9);

  --theme-color-secondary-warm: hsl(
    calc(var(--theme-color-secondary-h) + 80),
    var(--theme-color-secondary-s),
    var(--theme-color-secondary-l)
  );
  --theme-color-secondary-cold: hsl(
    calc(var(--theme-color-secondary-h) - 80),
    var(--theme-color-secondary-s),
    var(--theme-color-secondary-l)
  );

  --theme-color-secondary-low: hsl(
    var(--theme-color-secondary-h),
    calc(var(--theme-color-secondary-s) / 2),
    var(--theme-color-secondary-l)
  );
  --theme-color-secondary-lowest: hsl(
    var(--theme-color-secondary-h),
    calc(var(--theme-color-secondary-s) / 4),
    var(--theme-color-secondary-l)
  );

  --theme-color-secondary-light: hsl(
    var(--theme-color-secondary-h),
    var(--theme-color-secondary-s),
    calc(var(--theme-color-secondary-l) / 0.75)
  );
  --theme-color-secondary-dark: hsl(
    var(--theme-color-secondary-h),
    var(--theme-color-secondary-s),
    calc(var(--theme-color-secondary-l) * 0.75)
  );

  --theme-color-light: hsl(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) / 0.75)
  );
  --theme-color-ultra-light: hsl(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) / 0.5)
  );

  --theme-color-darklight: hsl(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.87)
  );
  --theme-color-dark: hsl(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75)
  );
  --theme-color-darkheavy: hsl(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.5)
  );
  --theme-color-darkultraheavy: hsl(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.25)
  );

  --theme-color-dark-5: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75),
    0.05
  );
  --theme-color-dark-10: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75),
    0.1
  );
  --theme-color-dark-25: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75),
    0.25
  );
  --theme-color-dark-40: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75),
    0.4
  );
  --theme-color-dark-50: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75),
    0.5
  );
  --theme-color-dark-60: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75),
    0.5
  );
  --theme-color-dark-70: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.75),
    0.75
  );

  --theme-color-darkheavy-5: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.5),
    0.05
  );
  --theme-color-darkheavy-10: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.5),
    0.1
  );
  --theme-color-darkheavy-25: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.5),
    0.25
  );
  --theme-color-darkheavy-50: hsla(
    var(--theme-color-h),
    var(--theme-color-s),
    calc(var(--theme-color-l) * 0.5),
    0.5
  );
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

body {
    background: #fff;
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    color: #12271D;
    overflow: auto;
}

body.nav-open {
    overflow: hidden;
}

.mobile-only {
    display: none;
    z-index: 2000;
    position: relative;
}

.mobile-trigger {
    position: absolute;
    top: 13px;
    right: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 1000;
}

.mobile-trigger .nav-toggle-burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;
}

.mobile-trigger .nav-toggle-burger .burger-line,
.mobile-trigger .nav-toggle-close .close-line {
    display: block;
    height: 1px;
    background: #f8f5ee;
    transition: .7s cubic-bezier(0.22, 1, 0.36, 1);
    transition-property: transform;
}

.mobile-trigger .nav-toggle-burger .burger-line {
    display: block;
    width: 20px;
    height: 2px;
}

.mobile-trigger .nav-toggle-burger .burger-line:nth-child(1) {
    width: 32px;
    transition-delay: .46s;
}

.mobile-trigger .nav-toggle-burger .burger-line:not(:last-child) {
    margin-bottom: 9px;
}

.mobile-trigger .nav-toggle-close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 20px;
    left: 9px;
    transform: rotate(45deg);
    transform-origin: 100% 0;
    overflow: hidden;
    pointer-events: none;
}

.mobile-trigger .nav-toggle-close .close-line {
    position: absolute;
    transition-delay: 0s;
}

.mobile-trigger .nav-toggle-close .close-line:nth-child(1) {
    width: 28px;
    height: 1.5px;
    left: 4px;
    top: calc(50% - 1.5px);
    transform: translateX(-115%);
}

.mobile-trigger .nav-toggle-close .close-line:nth-child(2) {
    height: 28px;
    width: 1.5px;
    left: calc(50% - 1.5px);
    top: 4px;
    transform: translateY(-115%);
    transition-delay: .14s;
}

.nav-open .mobile-trigger .nav-toggle-burger .burger-line {
  transform: translateX(101%);
}

.nav-open .mobile-trigger .nav-toggle-burger .burger-line:nth-child(1) {
  transition-delay: .12s;
}

.nav-open .mobile-trigger .nav-toggle-close .close-line:nth-child(1) {
  transform: translateX(0);
  transition-delay: .3s;
}

.nav-open .mobile-trigger .nav-toggle-close .close-line:nth-child(2) {
  transform: translateY(0);
  transition-delay: .42s;
}

#smooth-wrapper {
    pointer-events: all;
    z-index: 100;
}

#smooth-wrapper.active {
    pointer-events: none;
}

#smooth-content {
    position: relative;
}

.body-container {
    position: relative;
    z-index: 500;
}

.container-fluid {
    padding: 0;
}

.csm-header {
    padding: 20px 0;
    background: rgba(0, 0, 0, .3);
    position: relative;
    z-index: 100;
}

.csm-header .logo {
    width: 100px;
    max-width: 100%;
    height: auto;
}

.csm-header .csm-simple-slit-text {
    opacity: 0;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.33rem;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 0.125rem;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.js-on .csm-header .csm-simple-slit-text {
    opacity: 1;
}

.logo svg {
    width: 100%;
    height: auto;
}

.csm-header .csm-menu-right {
    display: flex;
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.gap-15 {
    gap: 15px;
}

.header-bottom {
    overflow: hidden;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav.mobile-only {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    transform: translate(-100%, 0);
    transition: none;
    z-index: 1000;
}

nav.mobile-only:has(.menu-item2.active) {
    transform: translate(0, 0);
}

nav.mobile-only ul {
    display: grid;
    grid-template-columns: 51% auto;
    gap: 0;
    overflow: hidden;
}

nav.mobile-only ul li {
    width: 100%;
    margin: 0;
    padding: 0;
    perspective: 1000px;
}

.primary-nav .menu-item a {
    display: inline-flex;
    white-space: nowrap;
    font-size: 20px;
    line-height: 47px;
    padding: 0 15px;
    color: #f8f5ee;
    text-decoration: none;
    position: relative;
    transition: all .3s;
}

nav.mobile-only ul li a {
    display: flex;
    font-size: 24px;
    line-height: 1.3;
    padding: 24px;
    color: #f8f5ee;
    text-align: center;
    position: relative;
    transition: all .3s;
    justify-content: center;
    font-weight: 600;
    height: 100%;
    align-items: center;
    height: 175px;
    text-decoration: none;
    max-height: calc(50vh - 73px);
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

nav.mobile-only ul li a:hover {
    font-size: 28px;
    text-decoration: none;
}

nav.mobile-only ul > li:nth-child(1) a {
    background: rgba(3, 58, 53, .95);
    transform: rotateX(-140deg);
}

nav.mobile-only ul > li:nth-child(1) a:hover {
    background: rgba(3, 58, 53, 1);
}

nav.mobile-only ul > li:nth-child(1).active a {
    animation: fromTop .15s forwards;
	transform-origin: top center;
}

nav.mobile-only ul > li:nth-child(1).inactive a {
    animation: invFromTop .15s forwards;
	transform-origin: top center;
}

nav.mobile-only ul > li:nth-child(2) a {
    background: rgba(4, 83, 70, .95);
    transform: rotateY(-140deg);
}

nav.mobile-only ul > li:nth-child(2) a:hover {
    background: rgba(4, 83, 70, 1);
}

nav.mobile-only ul > li:nth-child(2).active a {
    animation: fromLeft .15s forwards;
	transform-origin: left center;
}

nav.mobile-only ul > li:nth-child(2).inactive a {
    animation: invFromLeft .15s forwards;
	transform-origin: left center;
}

nav.mobile-only ul > li:nth-child(3) {
    order: 4;
}

nav.mobile-only ul > li:nth-child(3) a {
    background: rgba(212, 159, 17, .95);
    color: #2f2e2c;
    transform: rotateX(-140deg);
}

nav.mobile-only ul > li:nth-child(3) a:hover {
    background: rgba(212, 159, 17, 1);
}

nav.mobile-only ul > li:nth-child(3).active a {
    animation: fromTop .15s forwards;
	transform-origin: top center;
}

nav.mobile-only ul > li:nth-child(3).inactive a {
    animation: invFromTop .15s forwards;
	transform-origin: top center;
}

nav.mobile-only ul > li:nth-child(4) {
    order: 3;
}

nav.mobile-only ul > li:nth-child(4) a {
    background: rgba(174, 196, 82, .95);
    color: #2f2e2c;
    transform: rotateY(-140deg);
}

nav.mobile-only ul > li:nth-child(4) a:hover {
    background: rgba(174, 196, 82, 1);
}

nav.mobile-only ul > li:nth-child(4).active a {
    animation: fromRight .15s forwards;
	transform-origin: left center;
}

nav.mobile-only ul > li:nth-child(4).inactive a {
    animation: invFromRight .15s forwards;
	transform-origin: left center;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.container-full {
    overflow: hidden;
}

.csm-hero {
    padding: 0 0 30px;
    min-height: 100vh;
    position: relative;
}

.csm-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    scale: 1.2 !important;
    opacity: 0;
    transition: opacity 1s, scale 3s;
    z-index: 0;
}

.csm-bg.active {
    scale: 1 !important;
    opacity: 1;
    transition: opacity 1s, scale 3s;
}

.csm-hero:after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 0;
    pointer-events: none;
}

.hero-c-left {
    padding: 4.166rem 0;
    color: #f8f5ee;
    position: relative;
    z-index: 10;
}

.hero-c-right {
    margin: 0 0 0 4.166rem;
    width: calc(100% - 4.166rem);
    position: relative;
    opacity: 0;
}

.js-on .hero-c-right {
    opacity: 1;
}

.img-round {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-round .csm-square {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 50px;
    border-radius: 50% 0 0 50%;
    overflow: hidden;
}

.img-round .csm-square:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1500px;
    height: 1500px;
    background: linear-gradient(to bottom, #fdf6ed 0%, #ffd4a0 50%, #a88357 100%);
    padding: 50px 0 50px 50px;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(0deg) translate(-50%, -50%);
    animation: csmRotate forwards 4s infinite;
    animation-timing-function: linear;
    transform-origin: 0 0;
}

.img-round .csm-img img {
    object-fit: cover;
    height: 100%;
    border-radius: 50% 0 0 50%;
    position: absolute;
    overflow: hidden;
    top: 50px;
    left: 50px;
    width: calc(100% - 50px);
    height: calc(100% - 100px);
}

.img-ext {
    width: 100px;
    height: 40px;
    background: #e1e1e1;
    border-radius: 20px;
}

.hero-c-left h1 .color {
    color: var(--theme-color-primary);
}

.hero-c-left .subtitle {
    color: #a8a8a8;
    font-size: 0.66rem;
    font-weight: 300;
}

.hero-c-left h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-c-left .description {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 15px;
    position: relative;
}

.hero-c-left .description .bullet {
    font-size: 0.58rem;
    padding-right: 5px;
    top: -0.125rem;
    position: relative;
}

.hero-c-left .spec-description {
    display: inline-flex;
    font-size: 1.35rem;
    font-weight: 300;
    line-height: 1.5;
    padding-left: 15px;
    position: relative;
}

#multi-description {
    position: relative;
}

.hero-c-left .specd {
    display: inline-flex;
    font-size: 1.35rem;
    font-weight: 300;
    line-height: 1.5;
    position: absolute;
    top: 0;
    left: 217px;
}

.hero-c-left .specd .char {
    display: inline-block;
}

.hero-c-left .hero-btn {
    display: flex;
    gap: 20px;
}

.hero-c-left .hero-btn .csm-btn {
    display: inline-flex;
    background: var(--theme-color-primary);
    color: #fff;
    border: solid 2px var(--theme-color-primary);
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.7;
    padding: 16px 40px;
    margin-top: 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color .3s;
}

.hero-c-left .hero-btn .csm-full-btn:hover {
    background: var(--theme-color-primary-dark);
    color: #fff;
    border: solid 2px var(--theme-color-primary-dark);
}

.hero-c-left .hero-btn .csm-btn-white {
    background: #fff;
    color: var(--theme-color-primary);
}

.hero-c-left .hero-btn .csm-btn-white:hover {
    background: var(--theme-color-ultra-light);
    color: var(--theme-color-primary);
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 1.66rem;
}

.box {
    padding: 15px;
    border: 1px solid rgba(151, 163, 184, 0.2);
    box-shadow: 0 5px 8px -5px rgba(151, 163, 184, 0.5), 0 15px 16px -15px rgba(151, 163, 184, 0.5), 0 25px 32px -25px rgba(151, 163, 184, 0.5);
    border-radius: 4px;
}

.scroll-text-container {
    background: #fff;
}

.roll-text,
.roll-text-right {
    display: flex;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11vw;
    line-height: 1;
    font-weight: 600;
    padding: 60px 0;
    background: #fff;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.body-container:has(.roll-text + .roll-text-right) .roll-text {
    padding: 2.5rem 0 1.25rem;
}

.roll-text + .roll-text-right {
    padding: 0 0 2.5rem;
}

.roll-text .inner,
.roll-text-right .inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 4.16rem;
}

.roll-text .text {
    animation: rollTextAnimation linear infinite 10s;
}

.roll-text-right .text {
    animation: rollTextRAnimation linear infinite 10s;
}

.scroll-text-smooth .text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4.16rem;
}

.scroll-text-smooth .text span {
    display: flex;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11vw;
    line-height: 1em;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
}

.csm-image-grid {
    padding: 5rem 0 0;
    background: #fff;
    position: relative;
}

.csm-image-grid > .row:not(:last-child) {
    margin-bottom: 5rem;
}

.csm-image-grid .row-reverse > :first-child {
    order: 2;
}

.csm-image-grid .row-reverse > :last-child {
    order: 1;
}

.csm-image-grid [class*="img-col"] {
    position: relative;
}

.csm-image-grid .csm-img {
    position: relative;
    width: 80%;
    padding-top: 100%;
    overflow: hidden;
}

.csm-image-grid .csm-img .csm-c-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
}

.csm-image-grid .csm-img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.csm-image-grid .csm-c-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: scale(1.3) translate(0, -50%);
}

.csm-image-grid .csm-img-small {
    width: 80%;
    max-width: 400px;
    position: relative;
}

.csm-img-small img {
    box-shadow: 0 60px 135px rgba(0, 0, 0, .14), 0 15px 65px rgba(0, 0, 0, .14);
}

.csm-image-grid .row-reverse .csm-img {
    right: 0;
    margin-left: auto;
}

.csm-image-grid .row-reverse .csm-c-img {
    left: 0;
    right: auto;
}

.csm-image-grid .row-reverse .csm-img-small {
    margin-left: auto;
}

svg {
    overflow: visible !important;
}

.parallax-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0;
    padding: 0 1rem;
    transform-origin: center top;
}

.parallax-image {
    height: 200vh;
    width: 100%;
    object-fit: cover;
    will-change: transform;
}

.logo-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section svg {
    width: 60%;
}

.grid-section {
    width: 100%;
    overflow: visible;
    z-index: 2;
}

.grid-layout {
    display: flex;
    display: grid;
    height: 100%;
    width: 1200px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    transform-origin: center top;
    margin: 0 auto;
}

.column {
    height: 100%;
}

.panel {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-content {
    display: grid;
    grid-template-rows: 45vh 45vh 45vh;
    grid-gap: 1rem;
    height: 100%;
}

.grid-image {
    width: 100%;
}

.grid-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pin-section {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: 1fr 1fr;
}

.pin-content {
    width: 300%;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    will-change: transform;
}

.pin-box {
    height: 100%;
    width: 100%;
}

.pin-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spacer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-letter {
    fill: #fff;
}

.smoother-letter,
#mouse-wheel {
    fill: #88ce02;
}

.by-greensock-letter {
    fill: #fff;
    opacity: 0.6;
}

#mouse-outline {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 13px;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
}

h3 {
    font-size: 2rem;
    line-height: 1.3;
}

h4 {
    font-size: 1.75rem;
    line-height: 1.3;
}

.csm-image-grid .text-col-right {
    padding: 0 calc(100vw * 0.08) 0 calc(100vw * 0.04);
}

.csm-image-grid .row-reverse .text-col-right {
    padding: 0 calc(100vw * 0.04) 0 calc(100vw * 0.08);
}

.csm-image-grid h2 {
    margin-bottom: 2.5rem;
}

.csm-image-grid h3 {
    margin-bottom: 0.833rem;
}

.csm-grid-details {
    margin-top: 1.66rem;
}

.csm-gradient-th-container,
.csm-gradient-sec-container {
    background: #fff;
    position: relative;
    z-index: 100;
}

.csm-gradient-th-container > .bg {
    padding: 3.333rem 0;
    background-color: var(--theme-color-primary-10);
    background-image: linear-gradient(257deg,hsla(18,84%,90%,.3) -32.4%,rgba(255, 176, 129, 0.3) -3.42%,rgba(255, 131, 0, 0.3) 23.87%,rgba(251, 244, 223, 0.3) 50.46%,rgba(253, 203, 191, 0.3) 79.15%,rgba(249, 201, 57, 0.3) 103.64%);
}

.csm-gradient-sec-container > .bg {
    padding: 3.333rem 0;
    background-color: var(--theme-color-secondary-10);
    background-image: linear-gradient(257deg,hsla(18,84%,90%,.3) -32.4%,rgba(255, 176, 129, 0.3) -3.42%,rgba(255, 131, 0, 0.3) 23.87%,rgba(251, 244, 223, 0.3) 50.46%,rgba(253, 203, 191, 0.3) 79.15%,rgba(249, 201, 57, 0.3) 103.64%);
}

[class*="col-"] > *:last-child {
    margin-bottom: 0;
}

.scroll-text-container {
    padding: 2.5rem 0;
}

.text-highlight {
    all: unset;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: color .3s cubic-bezier(0.25, 1, 0.5, 1), background-color .3s cubic-bezier(0.25, 1, 0.5, 1), background-size 1s cubic-bezier(0.25, 1, 0.5, 1);
    background-image: linear-gradient(var(--theme-color-primary-ultra-light), var(--theme-color-primary-ultra-light));
}

.text-highlight.active {
    background-size: 100% 100%;
}

.text-highlight:before,
.text-highlight:after {
  position: absolute;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.sticky-box {
    padding: 4.166rem 0;
}

.sticky-box + .sticky-box {
    padding-bottom: 0;
}

.last-sticky-box {
    padding-bottom: 4.166rem;
}

.sticky-box h3 {
    margin: 0;
    padding-bottom: 1.66rem;
}

.sticky-box .sticky-box-text > * {
    margin: 0;
    padding-bottom: 0.833rem;
}

.sticky-box .sticky-box-text > :last-child {
    margin: 0;
    padding-bottom: 0;
}

.csm-bg-1 {
    background: #033a35;
    color: #fff;
    position: relative;
    z-index: 10;
}

.csm-bg-2 {
    background: #045346;
    color: #fff;
    position: relative;
    z-index: 20;
}

.csm-bg-3 {
    background: #d49f11;
    color: #2f2e2c;
    position: relative;
    z-index: 30;
}

.csm-bg-4 {
    background: #aec452;
    color: #2f2e2c;
    position: relative;
    z-index: 40;
}

.csm-bg-5 {
    background: #e9e3d4;
    color: #2f2e2c;
    position: relative;
    z-index: 50;
}

.csm-bg-6 {
    background: #fff;
    color: #2f2e2c;
    position: relative;
    z-index: 60;
}

.sticky-container .sticky-box-text {
    overflow: hidden;
}

.csm-box {
    padding: 0 20px;
}

.csm-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(60px + 2.5rem);
    height: calc(60px + 2.5rem);
    text-align: center;
    margin: 0 auto 20px;
    background: #000;
    border-radius: 50%;
    position: relative;
}

.csm-box-1 .csm-icon {
    background: #045346;
}

.csm-box-2 .csm-icon {
    background: #d49f11;
}

.csm-box-3 .csm-icon {
    background: #aec452;
}

.csm-box-4 .csm-icon {
    background: #e9e3d4;
}


.csm-icon-boxes-full {
    background: #fffdf5;
    padding-top: 4.166rem;
}

.csm-icon-boxes {
    width: 1680px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 4.166rem;
}

.csm-icon-boxes h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.csm-icon-boxes p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
}

.csm-icon svg {
    width: 2rem !important;
    height: auto;
}

.csm-icon svg * {
    fill: #fff !important;
}

.csm-box-1 .csm-icon svg * {
    fill: #f8f5ee !important;
}

.csm-box-2 .csm-icon svg *,
.csm-box-3 .csm-icon svg *,
.csm-box-4 .csm-icon svg * {
    fill: #2f2e2c !important;
}

.csm-ixon-boxes h4 {
    text-transform: none;
    letter-spacing: -0.03em;
    font-size: 0.916rem;
    line-height: 1.5;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0 15px;
}

.csm-ixon-boxes p {
    font-size: 0.708rem;
    width: 275px;
    max-width: 100%;
    margin: 0 auto;
}

.highlight-text {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
}

.accordion-container {
    padding: 4.166rem 20px;
}

.csm-faq {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.csm-accordion-box {
    border-top: solid 1px #9f9d96;
}

.csm-accordion {
    padding: 18px;
    width: 100%;
    text-align: left;
    color: #12271D;
    background: transparent;
    border: none;
    outline: none;
    padding-right: calc(40px + 0.5rem);
    cursor: pointer;
    transition: all .4s;
    position: relative;
}

.csm-accordion:before,
.csm-accordion:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 14px;
    height: 2px;
    background-color: #12271D;
    transition: transform .3s ease;
}

.csm-accordion:before {
    transform: rotate(90deg);
}

.csm-accordion.active:before {
    transform: rotate(0deg);
}

.csm-accordion.active:after {
    opacity: 0;
    transform: rotate(-90deg);
}

.csm-accordion:focus {
    color: #12271D;
    outline: none;
}

.csm-accordion:hover {
    color: #12271D;
    padding-left: calc(18px + 0.5rem);
}

.csm-accordion.active:hover {
    padding-left: 18px;
}

.accordion-container .csm-sec-title {
    width: 20rem;
    max-width: 100%;
    margin-bottom: 20px;
}

.accordion-container .csm-subtitle {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1.666rem;
}

.accordion-panel {
    padding: 0 18px;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.accordion-panel.active {
    height: auto;
    padding: 0 18px 18px;
}

.accordion-panel > * {
    font-size: 0.85rem;
    font-weight: 300;
}

.accordion-panel > :last-child {
    margin-bottom: 0;
}

.accordion-container {
    width: 100%;
    background: #f7f4e9;
}

.parallax-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background: #fff;
    overflow: hidden;
}

.parallax-image img {
    object-fit: cover;
    object-position: center center;
}

.bg-custom-gradient {
    display: block;
    width: 100%;
    padding-top: 30vh;
    background: #033A35;
    background: linear-gradient(145deg, rgba(3, 58, 53, 1) 0%, rgba(81, 111, 50, 1) 33%, rgba(212, 159, 17, 1) 66%, rgba(174, 196, 82, 1) 100%);
}

.csm-about-boxes {
    background: #fcfcfa;
    padding: 4.166rem 0;
    position: relative;
    z-index: 1000;
}

.csm-about-content {
    position: relative;
}

.csm-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 1.6rem;
}

.csm-cards .csm-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.66rem;
    grid-column: span 1;
    padding: 1.5rem 1.5rem 1rem;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    position: relative;
    transition: box-shadow .3s ease;
}

.csm-cards .csm-card:hover {
    box-shadow: 0px 10px 30px 0px rgba(34, 56, 101, .09);
}

.csm-card-cta {
    display: flex;
    align-items: center;
    color: #12271D;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s;
}

.csm-cards .csm-card:hover .csm-card-cta {
    color: #12271D;
}

.csm-cards .csm-card:hover .csm-card-cta:hover {
    color: #ff4800;
    text-decoration: none;
}

.csm-card-cta .csm-card-cta-arrow {
    display: flex;
    align-items: center;
    padding-left: 7px;
    transition: all .3s;
}

.csm-cards .csm-card:hover .csm-card-cta .csm-card-cta-arrow {
    padding-left: 17px;
}

.csm-card-cta .csm-card-cta-arrow svg {
    width: auto;
    max-width: 17px;
    height: auto;
    max-height: 17px;
}

.csm-card-cta .csm-card-cta-arrow svg * {
    fill: #ff4800;
}

.csm-card-features-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.csm-card-features-list > li {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 17px;
}

.csm-card-features-list > li:not(:last-child) {
    margin-bottom: 15px;
}

.csm-card-features-list > li svg {
    width: auto;
    height: 17px;
}

.csm-card-features-list > li  svg * {
    fill: #ff4800;
}

.csm-card-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.666rem;
    margin-top: auto;
}

.csm-card-divider {
    border-top: 1px dashed rgba(0, 0, 0, 0.1098039216);
    margin: 0;
    width: 100%;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.csm-card-header {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.csm-card-title {
    font-weight: 700;
}

.csm-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

.csm-card-icon img,
.csm-card-icon svg {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.csm-card-icon svg * {
    fill: #ff4800;
}

.csm-uc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    position: relative;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 10;
}

.body-container footer {
    position: relative;
}

#csm-footer {
    width: 100%;
    background: #e9e3d4;
}

.csm-footer {
    display: flex;
    flex-direction: column;
    width: 1520px;
    max-width: 100%;
    padding: 4.1666rem 20px 1.666rem;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}

.csm-footer:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
}

.csm-footer .csm-footer-middle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
}

.cfm-col {
    position: relative;
}

.cfm-col:has(.cf-text) {
    display: flex;
    align-items: center;
}

.cf-box-main {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100%;
}

.csm-footer .cf-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    border: 1px solid #12271d;
    border-radius: 1.6rem;
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
    transition-property: border-radius, border-color;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.csm-footer .cf-box:hover {
    border-radius: 4.166rem;
    border-color: rgba(0,0,0,0);
}

.csm-footer .cf-box-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.csm-footer .media-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: #000;
    transition: opacity .6s cubic-bezier(0.22, 1, 0.36, 1);
}

.csm-footer .cf-box:hover .media-wrapper {
    opacity: 1;
}

.csm-footer .media-wrapper .media-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    transform: scale(1.2);
    transition: transform 1.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.csm-footer .cf-box:hover .media-wrapper .media-inner {
    transform: scale(1);
}

.csm-footer .media-wrapper .media-inner .media {
    object-fit: cover;
    pointer-events: none;
    transition: opacity .8s cubic-bezier(0.22, 1, 0.36, 1);
}

.csm-footer .cf-box-title {
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.csm-footer .cf-box-title .line {
    display: block;
    transition: opacity .8s cubic-bezier(0.22, 1, 0.36, 1), transform .8s cubic-bezier(0.22, 1, 0.36, 1);
}

.csm-footer .cf-box-title .line.line-hover {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFDF5;
    opacity: 0;
    transform: scale(0.95) translateY(110%);
}

.csm-footer .cf-box:hover .cf-box-title .line.line-normal {
    opacity: 0;
    transform: scale(0.8) translateY(-100%);
    transition: opacity .2s cubic-bezier(0.22, 1, 0.36, 1), transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.csm-footer .cf-box:hover .cf-box-title .line.line-hover {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.csm-footer-top {
    display: flex;
    gap: 1.66rem;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.66rem;
}

.csm-footer-top .footer-title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.csm-btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.666rem;
    height: 3.666rem;
    border-radius: 8px;
    border: 1px solid #12271D;
    transition: border-radius .4s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
    overflow: hidden;
}

.csm-btn-back:hover {
    border-radius: 0.916rem;
}

.csm-btn-back .btn-back {
    width: 100%;
    height: 100%;
    position: relative;
}

.csm-btn-back .btn-back .btn-back-fill-bg {
    position: absolute;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
    background: #12271D;
    transform: translateY(104%);
    transition: transform .6s cubic-bezier(0.22, 1, 0.36, 1);
}

.csm-btn-back .btn-back:hover .btn-back-fill-bg {
    transform: translateY(-1%);
}

.csm-btn-back .btn-back .arrows {
    display: block;
    width: 100%;
    height: 100%;
}

.csm-btn-back .btn-back .arrow {
    display: block;
    width: 100%;
    height: 100%;
    transition: .7s cubic-bezier(0.22, 1, 0.36, 1);
    transition-property: opacity,transform;
    position: relative;
}

.csm-btn-back .btn-back:hover .arrow {
    opacity: 0;
    transform: scale(0.8) translateY(-102%);
}

.csm-btn-back .btn-back .arrow + .arrow {
    opacity: 0;
    transform: scale(0.8) translateY(0);
}

.csm-btn-back .btn-back:hover .arrow + .arrow {
    opacity: 1;
    transform: scale(1) translateY(-100%);
}

.csm-btn-back svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    max-width: 1.833rem;
    height: auto;
    max-height: 1.333rem;
    transform: translate(-50%, -50%);
}

.csm-btn-back .btn-back:hover .arrow + .arrow svg * {
    fill: #f8f5ee;
}

.csm-footer-bottom {
    display: flex;
    gap: 1.666rem;
    justify-content: space-between;
    width: 100%;
    padding: 10px 25px;
    margin-top: 1.666rem;
    border: solid 1px #12271D;
    border-radius: 8px;
}  

@keyframes csmRotate {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }

    100% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

@keyframes rollTextAnimation {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(calc(-100% - 100px))
    }
}

@keyframes rollTextRAnimation {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(calc(100% + 100px))
    }
}


@keyframes fromTop {
	0% {
		transform: rotateX(-140deg);
        transform-origin: top center;
        width: 60%;
        margin: 0 auto;
	}
	100% {
		transform: rotateX(0deg);
        transform-origin: top center;
        width: 100%;
	}
}

@keyframes invFromTop {
	0% {
		transform: rotateX(0deg);
        transform-origin: top center;
        width: 100%;
	}
	100% {
		transform: rotateX(-140deg);
        transform-origin: top center;
        width: 60%;
        margin: 0 auto;
	}
}

@keyframes fromBottom {
	0% {
		transform: rotateX(140deg);
        transform-origin: bottom center;
        width: 60%;
        margin: 0 auto;
	}
	100% {
		transform: rotateX(0deg);
        transform-origin: bottom center;
        width: 100%;
	}
}

@keyframes fromLeft {
	0% {
		transform: rotateY(-90deg);
        transform-origin: center left;
        height: 60%;
        margin: auto 0;
	}
	100% {
		transform: rotateY(0deg);
        transform-origin: center left;
        height: 100%;
	}
}

@keyframes invFromLeft {
	0% {
		transform: rotateY(0deg);
        transform-origin: center left;
        height: 100%;
	}
	100% {
		transform: rotateY(-90deg);
        transform-origin: center left;
        height: 60%;
        margin: auto 0;
	}
}

@keyframes fromRight {
	0% {
		transform: rotateY(90deg);
        transform-origin: center right;
        height: 60%;
        margin: auto 0;
	}
	100% {
		transform: rotateY(0deg);
        transform-origin: center right;
        height: 100%;
	}
}

@keyframes invFromRight {
	0% {
		transform: rotateY(0deg);
        transform-origin: center right;
        height: 100%;
	}
	100% {
		transform: rotateY(90deg);
        transform-origin: center right;
        height: 60%;
        margin: auto 0;
	}
}




@media (max-width: 1600px) {
    html {
        font-size: calc(14px + 0.625vw);
    }

    .primary-nav .menu-item a {
        font-size: 0.833rem;
    }

    .csm-image-grid .csm-c-img {
        width: 45%;
    }

    .csm-footer {
        width: 1520px;
        max-width: 100%;
        padding: 100px 20px 40px;
    }

    .csm-footer .csm-footer-middle {
        gap: 2rem;
    }
}

@media (min-width: 992px) {
    .br {
        display: block;
        clear: both;
    }
}

@media (max-width: 991px) {
    .csm-header .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .csm-header .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .csm-image-grid .csm-img {
        width: 100%;
        padding-top: 50%;
    }
    .csm-grid-details .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .csm-grid-details .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .csm-image-grid .csm-img + .csm-c-img {
        display: none;
    }

    .csm-image-grid .row > .img-col-right {
        order: 2;
    }

    .csm-image-grid .row > .text-col-right {
        order: 1;
    }

    .csm-image-grid .text-col-right,
    .csm-image-grid .row > .img-col-left + .text-col-right {
        padding: 0 calc(15px + 1.666rem) 2.5rem;
    }

    .csm-icon-boxes .row > [class*="csm-box"]:not(:last-child) {
        padding-bottom: 3rem;
    }

    .csm-box {
        padding: 0 40px;
    }

    .accordion-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .accordion-container .csm-sec-title {
        width: 100%;
    }

    .csm-footer .csm-footer-middle {
        grid-template-columns: repeat(3, 1fr);
    }

    .csm-footer .csm-footer-middle > .cfm-col:first-child {
        grid-column: 1 / -1; 
    }

    .hero-c-left .specd {
        left: auto;
        padding-left: 7px;
    }

    .csm-cards {
        padding-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 767px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    .mobile-trigger {
        display: flex;
    }

    .csm-footer .cf-box {
        padding: 1rem;
    }

    .csm-footer .cf-box-title {
        font-size: 1.2rem;
    }

    .csm-header .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .hero-c-left .hero-btn .csm-btn {
        font-size: 1rem;
    }
}
@media (max-width: 640px) {
    .csm-cards {
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .container {
        max-width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 500px) {
    #multi-description {
        padding-bottom: 2rem;
    }

    .hero-c-left .specd {
        left: auto;
        padding-left: 15px;
        display: block;
        top: auto;
    }
}

@media (max-width: 480px) {
    nav.mobile-only ul {
        grid-template-columns: 100%;
    }

    nav.mobile-only ul > li:nth-child(3) {
        order: 3;
    }

    nav.mobile-only ul > li:nth-child(4) {
        order: 4;
    }

    nav.mobile-only ul > li:nth-child(2).active a,
    nav.mobile-only ul > li:nth-child(4).active a {
        animation: fromTop .15s forwards;
        transform-origin: top center;
    }

    nav.mobile-only ul > li:nth-child(2).inactive a,
    nav.mobile-only ul > li:nth-child(4).inactive a {
        animation: invFromTop .15s forwards;
        transform-origin: top center;
    }

    .csm-footer .cf-box {
        padding: 2px;
    }

    .csm-footer .csm-footer-middle {
        gap: 10px;
    }

    .csm-footer .csm-footer-middle > .cfm-col:first-child {
        padding-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .hero-c-left .spec-description {
        padding-left: 0;
    }

    .hero-c-left .specd {
        padding-left: 0;
    }
}
